# OpenAI compatible LLM configuration
BASE_URL=http://127.0.0.1:1234/v1
MODEL=qwen/qwen3-vl-4b
TOKEN=sk-1234567890abcdef1234567890abcdef
ANYTHINGLLM_API_KEY=4YA01JJ-BBWMTWS-PB2JX1J-BF77EZS
ANYTHINGLLM_WORKSPACE_SLUG=90459a8d-4fdc-4caa-83f1-57d6309589ac